<form>
    <div class="fullScreenLoader" ng-show="forgetPassword.isBusy">
    <div class="spinner"></div>
</div>
    <div class="wrapper">
        <!--Header Starts -->
        <header>
            <div class="row main-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 headerMargTpBt">
                    <div class="logo" ui-sref="home"></div>
                </div>
            </div>
        </header>
        <!--Header Ends -->

        <div class="section loginSection">
            <div class="row main-row">
                <div class="col-lg-7 col-md-7 col-sm-4"></div>
                <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12 topMarg padZeroRes">
                    <div class="forgotPasswordBox">
                        <div class="forgotPasswordHeader">Forgot Password</div>
                        <div class="loginForm" ng-show="!forgetPassword.vm.emailSuccess">
                            <label>Email</label>
                            <div class="textBoxWrapper">
                                <input type="text" ng-model="forgetPassword.vm.email" class="formControl" ng-change="forgetPassword.onEmailChange()">

                                <span class="forgWarn" ng-show="forgetPassword.vm.emailRequired" class="userWarningMessage">Email ID is required</span>
                                <span class="forgWarn" ng-show="forgetPassword.vm.incorrectEmail && !forgetPassword.vm.emailRequired" class="userWarningMessage">Invalid Email ID</span>
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="forgetPassword.onSubmitClick()">Request Password</button>
                        </div>
                        <div class="fgtPwd_confirmation" ng-show="forgetPassword.vm.emailSuccess">
                            Email has been sent, Click <a ui-sref="home">here</a> to login
                        </div>
                    </div>

                </div>
                
            </div>
        </div>


        <!--Footer Starts -->
        <footer class="margNone">
            <div class="footer">Copyright ® 2016 Sierra Pacific Mortgage. All Rights Reserved.</div>
        </footer>
    </div>
</form>

<script>
    $(document).ready(function () {
			setMainContentSize();
		});

		 $(window).resize(function () {
			 setMainContentSize();
		 });
		function setMainContentSize(){
			var headerHeight =  $("header").height();
			var footerHeight = $("footer").height();
			var windowHeight = $(window).height();
			var contentHeight; 
			//console.log("headerHeight ="+headerHeight+ " footerHeight =  "+footerHeight+"windowHeight = "+windowHeight);
			if(windowHeight >767){
                contentHeight= windowHeight - headerHeight - footerHeight; 
                
				var content = document.querySelector('.section');
				content.style.height = contentHeight+"px";
			}else{
                
                contentHeight= windowHeight - headerHeight; 
				var content = document.querySelector('.section');
				content.style.height = contentHeight+"px"; 
                
            }
		}

</script>
