<ng-form name="loanInfoForm">
    <div>Loan Information section </div>
    <!--Loan Information header section-->
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <label class="formLabel">Lender</label>
        <div>
            <ui-select ng-model="infoTab.vm.loanInfoHeader.lenderType">
                <ui-select-match placeholder="Select" allow-clear="false">{{$select.selected.text}}</ui-select-match>
                <ui-select-choices repeat="d.value as d in infoTab.masters.lender | filter: { text: $select.search }">
                    <span ng-bind-html="d.text | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>
        </div>

        <div>
            <label>Application Date</label>
            <span>{{infoTab.vm.loanInfoHeader.applicationdate}}</span>
            <span>{{infoTab.data}}</span>
        </div>

        <div class="loanInfoForm loanInfoDummy">
            <input type="checkbox" ng-model="infoTab.vm.loanInfoHeader.isBorrowerAssets" />
            <label>The Income / assets of a person other than the borrower will be used.</label>

            <input type="checkbox" id="isCoBorrowerAssets" ng-model="infoTab.vm.loanInfoHeader.isCoBorrowerAssets" />
            <label for="isIncomeOrAssetsOtherThanCoBorrower">The Income / assets of a person other than the borrower will be used.</label>
        </div>

        <div>
            <button type="submit" tabindex="2" class="btn btn-success pull-right" ng-click="infoTab.saveLoanInfo">Save & Next</button>
        </div>
    </div>
</ng-form>