<div class="fullScreenLoader" ng-show="modal.isBusy">
    <div class="spinner"></div>
</div>
<div class="modal-header changePasswordCommon">
    <h3 class="modal-title blueTitle">{{modal.data.title}}</h3>
</div>
<div class="modal-body">

    <form role="form">
        <p class="changePasswordCommon passInfo"><small>Password must be atleast 6 characters long. Please do not use any special characters</small></p>
        <div class="form-group" id="changePasswordPopup">
            <label for="current_chngPwd">Current Password</label>

            <div class="inputWrap">
                <input  class="form-control" type="password" id="current_chngPwd"  ng-model="modal.currentPassword" ng-paste="$event.preventDefault()" maxlength="50">
                <div class="numberCircle_com" ng-show="modal.isCancelCurrentPwdError" ng-click="modal.onClearClick('currentPassword')"><span>X</span></div>
                <span class="errMess" ng-show="modal.isCurrentEmpty">Current password should not be empty</span>
                <span class="errMess" ng-show="modal.isIncorrectCurrentPassword">Current password is incorrect</span>
                </span>
            </div>

            <label for="new_chngPwd">New Password</label>
            <div class="inputWrap">
                <input type="password" class="form-control" id="new_chngPwd"  ng-model="modal.newPassword" ng-paste="$event.preventDefault()">
                <div class="numberCircle_com" ng-show="modal.isCancelnewPwdError" ng-click="modal.onClearClick('newPassword')"><span>X</span></div>
                <span class="errMess" ng-show="modal.isNewPwdEmpty">New password should not be empty</span>
                <span class='errMess' ng-show="modal.isPasswordLength">Password must be atleast 6 characters long</span>
                <span class='errMess' ng-show="modal.isPasswordHaveSpecialChar">Password contains special characters</span>
                <span class='errMess' ng-show="modal.isNewPasswordSameAsCurrent">Choose a password different from your current password</span>
                <span class='errMess' ng-show="modal.isNewPasswordExceed">Password cannot exceed max of 50 characters</span>
            </div>

            <label for="confirmNew_chngPwd">Confirm New Password</label>
            <div class="inputWrap">
                <input type="password" class="form-control" id="confirmNew_chngPwd" ng-model="modal.confirmPassword"
               maxlength="50" ng-paste="$event.preventDefault()">
                <div class="numberCircle_com" ng-show="modal.isCancelConfirmnewPwdError" ng-click="modal.onClearClick('confirmNewPassword')"><span>X</span></div>
                <p class="errMess">
                    <span class="errMess" ng-show="modal.isConfirmPasswordMatching">Passwords do not match</span>
                    <span class="errMess" ng-show="modal.isNewConfirmPwdEmpty">Confirm password should not be empty</span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer changePasswordFooter">
    <button class="btn btn-success btn-default" ng-click="modal.onChangePasswordClick()">{{modal.data.okTitle}}</button>
    <button class="btn default grey-btn" ng-click="modal.cancel()">Cancel</button>
</div>